{% extends "base.html" %} {% block title %}Enter new password{% endblock title %} {% load static %}

{% block content %}
<div>
  <div class="flex container px-4 mx-auto mt-10">
    <div class="w-1/4"></div>
    <div class="w-1/2 mx-8">
      <div class="text-center text-gray-500 mb-10">
        <div class="flex justify-center text-center mb-5">
          <a href={% url "home" %}><img src={% static 'images/myjumia-top-logo.png' %} alt="Logo image"
              class="h-16 w-16"></a>
        </div>
        <h3 class="font-bold">Enter new password</h3>
        <p class="text-center">Please enter your new password twice so we can verify you typed it in correctly.</p>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <div class="items-center justify-center space-y-4">
          <div class="w-full mb-4">
            <input type="password" name="new_password1" autocomplete="new-password" required
              aria-describedby="id_new_password1_helptext" id="id_new_password1" placeholder="Enter new password"
              class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500" />
          </div>
          <div class="w-full mb-4">
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"
              placeholder="Confirm password"
              class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500" />
          </div>

          <button type="submit" class="w-full px-4 py-2 bg-orange-400 text-white rounded-lg hover:bg-orange-400">
            Reset my password
          </button>

        </div>
      </form>
    </div>
    <div class="w-1/4"></div>
  </div>
</div>
{% endblock content %}